<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="file">
	<select id="allById" parameterType="String" resultType="Final.Model.FileInfo">
		select * from file_data where id=${id} order by modify_date desc
	</select>
	
	<select id="selByTitle" parameterType="String" resultType="Final.Model.FileInfo">
		select * from file_data where title=#{title}
	</select>
	
	<delete id="delete" parameterType="String">
		delete from file_data where title=#{title}
	</delete>
	<insert parameterType="Final.Model.FileInfo" id="write">
 insert into member (id, title, modify_date, path) values(#{id}, #{title}, sysdate, #{path})
 </insert>
 <select resultType="Final.Model.FileInfo" parameterType="String" id="file_list">
 select * from file_data where id=#{id} </select>
 <select resultType="Final.Model.FileInfo" parameterType="java.lang.Integer" id="update">
 select * form file_data where file_number = #{file_number} 
 </select>
 <update parameterType="Final.Model.MemberInfo" id="updatePro">
	update member set id=#{id}, title=#{title}, modify_date=sysdate, path=#{path}
	</update>
</mapper>